<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../css/app.css"/>
<div class="container">
  <div class="jumbotron text-center">
    <h2 class="hangman-title">Hangularman</h2>
    <p>Implementing the Hangman Game using AngularJS</p>
  </div>

  <div class="panel panel-default text-center hangman-text">
    {{gui.hiddenSearchterm}} 
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="text-center">
        <img ng-src="{{gui.currentImage.path}}" alt="{{gui.currentImage.path}}"   class="img-thumbnail hangman-img"/>
      </div>
    </div>
    <div class="col-md-7 text-center">
      <div>
        <button ng-repeat="button in gui.buttons1"
                ng-disabled="!button.enabled"
                ng-click="gui.buttonClicked(button)"
                class="btn btn-primary btn-lg  hangman-btn">
          {{button.char}}
        </button>          
      </div>
      <div>
        <button ng-repeat="button in gui.buttons2"
                ng-disabled="!button.enabled"
                ng-click="gui.buttonClicked(button)"
                class="btn btn-primary btn-lg  hangman-btn">
          {{button.char}}
        </button>          
      </div>
      <div>
        <button ng-repeat="button in gui.buttons3"
                ng-disabled="!button.enabled"
                ng-click="gui.buttonClicked(button)"
                class="btn btn-primary btn-lg  hangman-btn">
          {{button.char}}
        </button>          
      </div>
      <div>
        <button ng-repeat="button in gui.buttons4"
                ng-disabled="!button.enabled"
                ng-click="gui.buttonClicked(button)"
                class="btn btn-primary btn-lg  hangman-btn">
          {{button.char}}
        </button>          
      </div>
    </div>

  </div>