<div class="container">

  <div class="row header">
    <h1>Hangularman 2</h1>
  </div>

  <hr/>


  <div class="row main">

    <div class="container-fluid">
      <div class="row display">
        <div class="guessword col-sm-6">
          <hm-searchterm searchterm="{{ vm.searchterm }}" searchterm-control="stCtrl"></hm-searchterm>

        </div>
        <div class="image col-sm-6">
          <hm-images number="{{vm.imagenumber}}"></hm-images>
        </div>
      </div>
      <div class="row ui">
        <hm-letters letters-control="ltrCtrl" callback="vm.processLetter(letter)"></hm-letters>

      </div>
    </div>

  </div>

  <hr/>

  <div class="row footer">
    <i class="glyphicon glyphicon-copyright-mark"></i> Thomas Fischer 2015
  </div>

</div>
