.header {
  background-color: #000066;
  color: #f5f5f5;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.main {
  margin: 0px;
  padding: 20px;
}

.footer {
  background-color: #000066;
  color: #f5f5f5;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.guessword {
}

.image {
  text-align: center;
}

.ui {
  background-color: orange;
}
