
<div>
  <!--
  <button ng-click="onClick('A')" class="btn btn-default">A</button>
  <button ng-click="onClick('B')" class="btn btn-default">B</button>
  <button ng-click="callback({letter: 'C'})" class="btn btn-default">Call</button>
  -->
  <div class="letters-row" ng-repeat="row in letters">
    <button class="btn btn-default letters-btn"
            ng-click="onClick(letter)"
            ng-disabled="isDisabled(letter)"
            ng-repeat="letter in row"
      >
      {{letter}}
    </button>
  </div>

  <style>
    .letters-row {
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .letters-btn {
      width: 12%;
      margin: 0.5%;
    }
  </style>
</div>
